<u> **<span style="color:blue"> Lab Manual </span>** </u>

**Stack Operations**


**AIM**

To understand the operations of stack.

**THEORY**

Stack is a linear data structure which follows a particular order in which the operations are performed. ... Mainly the following three basic operations are performed in the stack: Push: Adds an item in the stack. 
            If the stack is full, then it is said to be an Overflow condition. Pop: Removes an item from the stack.
***Push Operation***<br>
Adds an item in the stack. If the stack is full, then it is said to be an Overflow condition.<br>
***Pop Operation*** <br>
Removes an item from the stack. The items are popped in the reversed order in which they are pushed.
If the stack is empty, then it is said to be an Underflow condition.

<br>

**Algorithm for POP**
<br>
Step 1: If TOP = -1 then
    <br>
             Write “Stack is Underflow”
             <br>
Step 2: Return STACK [TOP]
<br>
Step 3: TOP = TOP - 1
<br>
**Algorithm for PUSH**
<br>
Step 1: If TOP >= SIZE – 1 then
            <br>
            Write “Stack is Overflow”
            <br>
            tep 2: TOP = TOP + 1
            <br>
            Step 3: STACK [TOP] = X